body {
  background-color: #333;
  color: #aaa;
}

br { 
  content: " ";
  clear: both; 
}

form {
  display: block;
  margin: 1em;
}

a,a:link {
  color: #77f;
}

a:visited {
  color: #88c;
}

li {
  margin-bottom: 0.25em;
}

.ledstrip {
  display: block;
  float: left;
  height: 16px;
  border: 1px solid #888;
  background-color: #444;
  clear: right;
  margin: 1em 1em;
}

.ledstrip.ring .WS2812-led {
  position: absolute;
}

.ledstrip:after {
  float: none;
  display: block;
  clear: both;
}

.ledlight, .WS2812-led {
    display: block;
    width: 10px;
    height: 10px;
    float: left;
    border: 1px solid #666;
    background-color: #000;
    margin: 2px;
}

.diffuse {
  /* old IE version */
  filter:progid:DXImageTransform.Microsoft.Blur(pixelradius=2);
  /* Chrome, Safari, and friends */
  -webkit-filter: blur(5px) brightness(200%);
  /* Standard, Firefox, IE Edge with option enabled */
  filter: blur(5px) brightness(200%);
}

#output {
  margin-top: 1em;
}
